* {
    box-sizing: border-box;
}

.button-container {
    background-color: #fff;
}

.arrow-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #fff;
    background-image: url('./images/left-right.png');
    background-size: cover;
}

  .currency-option {
    display: flex;
    align-items: center;
  }
  
  .fi {
    width: 30px;
    height: 20px;
    margin-right: 10px;
    background-size: cover;
    border: 0.5px solid #888;
  }

  .loader {
    margin-top: 20rem;
  }

  .converter {
    margin-top: 6rem;
  }

  @media screen and (max-width: 996px) {
    .converter {
      flex-direction: column;
    }
    .arrow-button {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }